

.header{
  color: #1b1919;
  /* background-color: rgb(36, 27, 36); */
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  

}
.mhs{
  font-size: 20px;
  margin-right: 1600px;
  position: absolute;
}

.links{
  align-items: center;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-left: 200px;
  text-decoration: none;
  color: rgb(27, 25, 107);

}
.links a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  justify-content:center;
}
.contact{
  border-radius: 8px;
  width: 120px;
  height: 40px;
  margin-top: 58px;
  margin-left: 130px;
  background-color: #8888f0;
  color: white;
  border: none;
  font-size: 20px;


}
.span{
  color: #8888f0;
}
.welcome{
  position: absolute;
  height: 40px;
  width: 320px;
  background: linear-gradient(to right, #c0c0f3a2, #a7a7f0, #a0a0f1, #8888f0);
  color: white;
  justify-content: center;
  margin-left: 150px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: solid 1px white;


}
.home-btn{
  display: flex;
  
}
.home-intro{
  margin-left: 80px;
  margin-top: 250px;
  line-height: 1.5;

}
.icons{
  display: flex;
  flex-wrap: wrap;

}
.Contact-icons{
 position: relative;

display: flex;
gap: 30px;
margin-top: 30px;
margin-left: 75px;

}


.resume{
  position: absolute;
  margin-top: 60px;
  display: flex;
  margin-left : 120px;
  cursor: pointer;
 

}
.Resume-btn { 
  border-radius: 8px;
  width: 150px;
  height: 40px;
  margin-left: 220px;
  background-color: #8888f0;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;

}

.Home-image{
  position: relative;
  margin-left:1100px;
  margin-top: -470px;

}
.intro-heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-img{
   margin-left: 210px;
   margin-top: 200px;
}
.introduction {
  position:absolute;
  margin-left:1100px;
  margin-top: -350px;

}
.skill-heading{
  text-align: center;
  
}
.html-skill {
  width: 90px;
  height: 140px;
  background-color: #dddde2;
  border-radius: 9px;
}
.css-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.js-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.react-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.redux-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.next-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.tailwind-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.response-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.node-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.mongo-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.sql-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}
.mysql-skill
{
     width: 90px;
     height: 140px;
     background-color: #dddde2;
     border-radius: 9px;
}
.firebase-skill{
  width: 90px;
    height: 140px;
    background-color: #dddde2;
    border-radius: 9px;
}

ul {
  list-style: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

li {
  float: left;
  margin-right: 10px;
  padding: 30px;
  
}
.skill-des{
  margin-left: 18px;
}
.project-head{
  text-align: center;
}
.education-head{
  text-align: center;
}
.certification-head
{
  text-align: center;
}
.contact-head{
text-align: center;


}

.formm{
  text-align: center;
}

.input{
  width: 300px;
  height: 50px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 7px;
  padding-left: 10px;

}
.input-2{
  border: 1px solid black;
    border-radius: 7px;
}

.submit-btn{
  cursor: pointer;
  border-radius: 4px;
    width: 150px;
    height: 40px;
    margin-left: 220px;
    background-color: #8888f0;
    color: white;
    border: none;
    font-size: 20px;
   justify-content: center; 
    display: flex; 
   margin-left: 880px;
   text-align: center;
   display: flex;
  justify-content: center ;
  align-items: center;   

}
.contact-icons2 {

  gap: 20px;
  display: flex;
  justify-content: center;
  margin-left: 760px;
  margin-top: 80px;
  



}
.rights{
 align-items: center;
 position: absolute;
 margin-left:800px;
 margin-top: 150px;
}

.footer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #404077;
  


}

.skill-head{
  margin-left: 100px;
}
