

.header{
  color: #1b1919;
  /* background-color: rgb(36, 27, 36); */
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  

}
.mhs{
  font-size: 20px;
  margin-right: 1600px;
  position: absolute;
}

.links{
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-left: 200px;
  text-decoration: none;
  color: rgb(27, 25, 107);

}
.links a{
  text-decoration: none;
  color: rgb(55, 26, 124);
  font-size: 20px;
  justify-content:center;
}
.contact{
  border-radius: 30px;
  width: 120px;
  height: 40px;
  margin-left: 220px;
  background-color: rgb(150, 89, 150);
  color: white;
  border: none;
font-size: 20px;


}
.span{
  color: blueviolet;
}
.welcome{
  position: absolute;
  height: 40px;
  width: 320px;
  /* background-color: blueviolet; */
  background: linear-gradient(to right, #c0c0f3a2, #a7a7f0, #a0a0f1, #8888f0);
  color: white;
  justify-content: center;
  margin-left: 150px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: solid 1px white;


}
.home-intro{
  margin-left: 80px;
  margin-top: 250px;
  line-height: 1.5;

}
.icons{
  display: flex;
  flex-wrap: wrap;

}
.Contact-icons{
 position: relative;

display: flex;
gap: 30px;
margin-top: 30px;
margin-left: 75px;

}
.resume{
  position: absolute;
  margin-top: 60px;
  display: flex;
}
.Resume-btn { 
  border-radius: 30px;
  width: 150px;
  height: 40px;
  margin-left: 220px;
  background-color: rgb(175, 70, 175);
  color: white;
  border: none;
  font-size: 20px;

}

.Home-image{
  position: relative;
  margin-left:1100px;
  margin-top: -350px;

}
.intro-heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-img{
   margin-left: 210px;
   margin-top: 200px;
}
.introduction {
  position:absolute;
  margin-left:1100px;
  margin-top: -350px;

}
.skill-heading{
  text-align: center;
  
}

ul {
  list-style: none;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
  padding: 25px;
}
.project-head{
  text-align: center;
}
.education-head{
  text-align: center;
}
.certification-head
{
  text-align: center;
}
.footer{
  width: 100%;
  height: 300px;
  background-color: #8888f0;

}
.rights{
  text-align: center;
 margin-top :170px ; 
}